<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="id_message">Message:</label>
        <input type="text" name="message" id="id_message" placeholder="Whatzzup"/><br>
        <input type="checkbox" name="option" value="option1"> option 1<br>
        <input type="checkbox" name="option" value="option2"> option 2<br>

        {% for item in data %}

        <input type="checkbox" name="option[]" value="{{item}}"> {{data[item]['title']}}<br>
        {% endfor %}

        <input type="submit" value="send"/>
    </form>
</body>
</html>
